.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #AAEB99;
  float: left;
  height: 100vh;
  z-index: 2;

  &__header {
    text-align: center;
  }

  &__container {
    margin-top: 40px;

    &__span {
      display: flex;
      align-items: center;
      background-color: #AAEB99;
      height: 50px;
      color: black;
      padding-left: 20px;
      text-decoration: none;
      /* Added text decoration none */
    }

    &__span:hover {
      background-color: white;
    }

    .active {
      background-color: white;
    }
  }
}