.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #AAEB99;
  float: left;
  height: 100vh;
  z-index: 2;
  font-family: 'Roboto', sans-serif;

  &-header {
    width: 100%;
    height: 54px;
    margin: 0;
    padding: 10px;
    text-decoration: underline;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
  }

  &-container {

    &-span {
      display: flex;
      align-items: center;
      background-color: #AAEB99;
      height: 50px;
      color: black;
      padding-left: 30px;
      text-decoration: none;
      /* Added text decoration none */
    }

    &-span:hover {
      background-color: white;
    }

    .active {
      background-color: #EEE;
    }
  }
}