.body-headerafterlogin {
  display: flex;
  flex-direction: row;
}

.container-headerafterlogin {
  width: 100%;

  .content-headerafterlogin {
    padding-top: 40px;
  }
}


html,
body,
#root,
.container {
  background-image: url(../../assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// .wrapper {
//   display: flex;
//   flex-direction: row;

//   .container {
//     display: flex;
//     flex-direction: column;
//   }
// }