* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.signup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  flex-direction: row;
  height: 54px;
  background-color: rgba(143, 241, 150, 0.6);
  padding-left: 50px;

  .signup-nav {
    display: flex;
    margin: 0;

    .signup-nav-item {
      display: flex;
      align-items: center;
      padding: 0 20px;
      height: 100%;

      .signup-nav-item-text {
        color: #000;
        font-family: "Times New Roman";
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;

        &.active,
        &:hover {
          background-color: #c3f6c8;
        }
      }
    }
  }

  .signup-nav-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    margin-right: 15px;
    border-radius: 19px;
    background: #0085FF;

    .signup-nav-login-text {
      color: #FFF;
      font-family: "Times New Roman";
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        background-color: #0084ff59;
      }
    }
  }
}