.member-form-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  /* Đưa phần tử vào giữa trang */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-self: center;
  /* Đưa phần tử vào giữa theo chiều dọc */
}


.member-form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}