* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f0f0f0;
}

.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .login-box {
    background-color: #ffffff;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .login-header {
      margin-bottom: 20px;
      font-size: 32px;
      text-align: center;
      color: #333;
      border-bottom: 2px solid #d0ffd0;
      padding-bottom: 10px;
    }

    .login-form {
      display: flex;
      flex-direction: column;

      .login-input {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
          color: #666;
          font-weight: bold;
        }

        .login-input-text {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
          transition: border 0.3s;

          &:focus {
            border-color: #0085ff;
          }
        }
      }

      .login-button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #0085ff;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #005bb5;
        }
      }
    }

    .login-footer {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .login-back-home {
        text-decoration: none;
        color: #0085ff;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
          color: #005bb5;
        }
      }
    }

    .login-signup {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      .login-signup-text {
        margin-right: 5px;
        color: #666;
      }

      .login-signup-link {
        text-decoration: none;
        color: #0085ff;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
          color: #005bb5;
        }
      }
    }
  }
}