* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_body {
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &-nd {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 30%;
    margin-left: 15%;

    &-text {
      width: 100%;
      height: 50%;
      color: #000;
      font-family: Arial;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }

    &-box {
      width: 100%;
      height: 25%;
      display: flex;
      align-items: center;

      &-search {
        width: 80%;
        height: 80%;
        padding: 6px;
        border-radius: 20px 0 0 20px;
      }

      &-btn {
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        height: 80%;
        width: 20%;
        border-radius: 0 20px 20px 0;
        padding: 6px;
        text-align: center;
      }
    }
  }
}