.caygiapha-container {
  text-align: center;
  margin: 20px;
  width: 100%;
  overflow: hidden;
}

.rd3t-g {
  pointer-events: none;
  /* Ngăn chặn sự kiện di chuyển */
}


#treeWrapper {
  margin-top: 20px;
}